coucou
<% @liste.ingredients.each do |ingredient| %>
<p><%= @quantities.where(ingredient: ingredient).sum(:number).to_f%>
  <%= ingredient.name %>
</p>
<% end %>
<%= @liste.ingredients.count %>
<%= @quantities.where(ingredient: @liste.ingredients[42]).sum(:number)%>
<%
=begin%>
  s'occuper des virgule a la con et des point decimale dans quantité
  mettre un ratio dans le compte
  virer les zéro
  mettre unité
  mettre checkbox
  vérifeir type number

<%
=end%>
